.vs/SoulHarvest/v17/ipch/AutoPCH/874e57b088943a4b/SOULHARVEST.ipch
.vs/SoulHarvest/v17/ipch/AutoPCH/83eeea49b8312df1/SOULHARVEST.ipch
.vs/SoulHarvest/v17/ipch/AutoPCH/382207eadf6818f9/SOULHARVEST.ipch
.vs/SoulHarvest/v17/DocumentLayout.json
.vs/SoulHarvest/v17/DocumentLayout.backup.json
.vs/SoulHarvest/v17/Browse.VC.opendb
.vs/SoulHarvest/v17/Browse.VC.db-wal
.vs/SoulHarvest/v17/Browse.VC.db-shm
.vs/SoulHarvest/v17/Browse.VC.db
.vs/SoulHarvest/v17/.suo
.vs/SoulHarvest/FileContentIndex/ba7744d5-c392-466f-ada2-f78ae0f8f225.vsidx
.vs/SoulHarvest/FileContentIndex/12082888-146a-48ca-af37-368103cb3acd.vsidx
